<h2>New Book</h2>
<form action ="/books" method ="POST" enctype="multipart/form-data"> <!-- Submission form for creating an author -->
    <%- include('_form_fields') %> <!-- Inserts _form_fields.ejs file -->
    <a href="/books">Cancel</a>
    <button type = "submit">Create</button>
</form>