<h2>New Author</h2>
<form action ="/authors" method ="POST"> <!-- Submission form for creating an author -->
    <%- include('_form_fields') %> <!-- Inserts _form_fields.ejs file -->
    <a href="/authors">Cancel</a>
    <button type = "submit">Create</button>
</form>